.aside{
  height: 100%; 
  padding-right: 2em;
  transition: 0.3s ease-in-out;
}

.aside-cell{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  word-wrap:break-word;
  border: 1px solid #5cc0db;
  border-top: 0px;
}

.aside-cell:nth-child(1){
  border: 1px solid #5cc0db;;
}